/* sec_kv */
.sec_kv{
    height: 100vh;
}
.sec_kv .img_box{
    height: 100%;
}
.sec_kv .img_box img{
    height: 100%;
    object-fit: cover;
}
.sec_kv .kv_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: max-content;
}
.sec_kv .kv_txt h2{
    font-size: 220px;
    font-size: 11.458vw;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
.sec_kv .kv_txt h3{
    font-size: 96px;
    font-size: 5vw;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    display: flex;
    align-items: center;
}
.sec_kv .kv_txt h3 span{
    font-size: 60px;
    font-size: 3.125vw;
    font-weight: 600;
    color: #fff;
    margin: 0 22px;
}
/* sec_kv end */


/* sec_inquiry */
.sec_inquiry{
    
}
.sec_inquiry .sec_txt{
    margin-bottom: 10px;
}
/* sec_inquiry end */


/* sec_map */
.sec_map{

}
.sec_map .img_box{
    margin-top: 30px;
}
/* sec_map end */


/* sec_partner */
.sec_partner{
    padding-bottom: 96px;
}
.sec_partner .partner_list{
    margin-top: 42px;
    display: flex;
    justify-content: center;
    gap: 13px;
}
.sec_partner .partner_list img{
    width: auto;
    height: 78px;
}
/* sec_partner end */